body {
    font-family: "Inter", serif;    
    background-color: hsl(0, 0%, 8%);
}

main {
    display: flex;
    justify-content: center;
    color: white;
}

.container {    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 28dvw;
    height: 65dvh;
    margin-top: 10%;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

.img-profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 15px;
}


.botoes {
    display: grid;
    place-items: center;
}

.botao {
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 14px;    
    text-decoration: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
    margin-bottom: 5%;
    height: 2.5rem;
    width: 80%;
    border-radius: 10px;
}

.name {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    color: white;
    margin: 0;
}

.subtitulo {    
    font-size: 14px;
}

.phrase {
    font-size: .8rem;
}